node_modules/
.idea/
/.vscode
/.github

yarn.lock
.gitignore
.prettierrc
.DS_Store
yarn-error.log
CONTRIBUTE.md

tsconfig.tsbuildinfo
# source
/utils
/decorators
/commands
/test

# configuration
.eslintrc.js
.eslintrcignore
renovate.json
tsconfig.json
tools
jest.config.ts
tsconfig.eslint.json
webpack.config.ts
./index.ts
./constants.ts